<% if user_signed_in? %>
<div class="container">
  <div class="bodyleft bodyright">
    <div class="justify-content-around">
    <% Connection.where(user_id: current_user.id).each do |user| %>
          <% Post.where(user_id: user.following_id).each do |post| %>
            <% Photo.where(id: post.photo_id).reorder('created_at').each do |photo| %>
                <div class='postdiv'>
                  <div class="postBorderBottom">
                      <div class="postBorderBottom">
                        <span class="postImg">
                          <!-- <a href="/users/<%= post.user_id %>"><img src="<%= Photo.find_by(id: User.find_by(id: post.user_id).photo_id).url %>" height="10%" width="10%"></a> -->

                          <% if post.user_id > 25 && post.user_id != 51 %>
                            <a href="/users/<%= post.user_id %>"><img src="https://randomuser.me/api/portraits/women/<%= post.user_id %>.jpg" height="10%" width="10%" class="roundImage"></a>

                          <% elsif post.user_id != 51%>
                            <a href="/users/<%= post.user_id %>"><img src="https://randomuser.me/api/portraits/men/<%= post.user_id %>.jpg" height="10%" width="10%" class="roundImage"></a>

                          <% end %>

                  
                        </span>
                        <span class="postAuthor">
                          <a href="/users/<%= post.user_id %>"><%= User.find_by(id: post.user_id).username %></a>
                        </span>
                        <p class="postLocation"><%= post.location %></p>
                      </div>
                      <div class="col-lg-12">
                        <img src="https://picsum.photos/600/600?image=<%= post.id %>" height="100%" width="100%">
                      </div>
                    </div>
                    <div>
                      <form class="inBlock" action='/likes' method='post'>
                        <fieldset style="display:none">
                          <input type="hidden" name="like[user_id]"" value="<%= current_user.id %>">
                          <input type="hidden" name="like[post_id]"" value="<%= post.id %>">
                         </fieldset>
                        <button type="submit" class="nav-link buttons"><i class="far fa-heart"></i></button>
                      </form>
                      <span class="postHeart"><a class="nav-link buttons"  href='#commentField<%= post.id %>' ><i class="far fa-comment"></i></a></span>
                    </div>

                    <div id="commentField<%= post.id %>" >
                      <% likecount = [] %>
                      <% @likes.each do |like| %>
                        <% if like.post_id == post.id  %>
                          <% likecount << like.user_id %>
                        <% end %>
                      <% end %>
                          <p class="postLikes"><%= likecount.length %> Likes</p>
                      <% likecount = [] %>
                    </div>
                    <div>
                      <% commentscount = [] %>
                        <% @comments.each do |comment| %>
                          <% if comment.post_id == post.id  %>
                            <a class="postCommenter" href="/users/<%=  User.find_by(id: comment.user_id).id %>"><%= User.find_by(id: comment.user_id).username %></a>
                            <%=  comment.comment %>
                            <br>
                          <% end %>
                      <% end %>
                    </div>
                    <span class="postTimeAgo">
                      <%= time_ago_in_words(post.created_at) %> ago
                    </span>
                    <form action='/comments' method='post'>
                      <fieldset style="display:none">
                        <input type="hidden" name="comment[user_id]"" value="<%= current_user.id %>">
                        <input type="hidden" name="comment[post_id]"" value="<%= post.id %>">
                       </fieldset>
                      <fieldset class="form-group">
                        <input type="text" class="form-control"  name="comment[comment]" placeholder="Add a comment...">
                       </fieldset>
                       <input  type="submit" name="update" value=" Apply "
                       style="position: absolute; height: 0px; width: 0px; border: none; padding: 0px;"
                       hidefocus="true" tabindex="-1"/>
                      </form>
                  </div>
                <% end %>
          <% end %>
    <% end %>
  </div>
</div>
<% else %>
  <div class='welcomeHeader'>
    <h1 class="title"><i class="fas fa-camera-retro"></i> | Fotogram</h1>
    <h3 class="subtitle">PLEASE LOG IN</h3>
  </div>
  <div class='welcomeBody'>
    <%= link_to "Sign In", user_session_path(@user), { :class=>"welcomeButton" } %> or
    <%= link_to "Sign Up", new_user_registration_path(@user), { :class=>"welcomeButton" } %>
  </div>
  </div>
<% end %>
