<% if user_signed_in? %>
<% postCount = 0 %>
<% @posts.each do |post| %>
  <% if @user.id ==  post.user_id%>
    <% postCount += 1 %>
  <% end %>
<% end %>

<% followerCount = 0 %>
<% @connections.each do |connection| %>
  <% if @user.id ==  connection.following_id%>
    <% followerCount += 1 %>
  <% end %>
<% end %>


<% followingCount = 0 %>
<% @connections.each do |connection| %>
  <% if @user.id ==  connection.user_id %>
    <% followingCount += 1 %>
  <% end %>
<% end %>


<div class="bodyleft bodyright ">
  <div class="displayPhoto">

    <% if @user.photo_id !=  nil %>
      <!-- <img src="<%#= Photo.find_by(id: @user.photo_id).url %>" height="75" width="75"> -->
    <% else %>
      <img src="https://robohash.org/'+#{ @user.username}+'?set=set3>" height="75" width="75">
    <% end %>


  </div>
  <div class="userInfo">
    <div>
      <span class="userName"><%= @user.username %></span>
      <span><%= button_to "Follow", new_connection_path %></span>
    </div>
    <div>
      <div class='inBlock'>
        <span class='strong'><%=  postCount %></span>
        <span> Posts</span>
      </div>
      <div class='inBlock'>
        <span class='strong'><%= followerCount %></span>
        <span> Followers</span>
      </div>
      <div class='inBlock'>
        <span class='strong'><%= followingCount  %></span>
        <span> Following</span>
      </div>
    </div>
    <div>
      <p><%= @user.name %></p>
    </div>
  </div>
</div>


<% if postCount == 0 %>
  <div class="bodyleft bodyright ">

      <div class='postdiv'>
          <p class='center padDown'>This Users has no posts yet</p>
      </div>
    </div>

<% else %>


<div class="container">
  <div class="row">
      <% Post.where(user_id: @user.id).each do | post | %>
      <div class="col-lg-4">
        <img src="<%= Photo.find_by(id: post.photo_id).url %>" height="100%" width="100%">
      </div>
    <% end %>
  </div>
</div>
<% end %>



<% else %>
  <div class='welcomeHeader'>
    <h1 class="title"><i class="fas fa-camera-retro"></i> | Fotogram</h1>
    <h3 class="subtitle">PLEASE LOG IN</h3>
  </div>
  <div class='welcomeBody'>
    <%= link_to "Sign In", user_session_path(@user), { :class=>"welcomeButton" } %> or
    <%= link_to "Sign Up", new_user_registration_path(@user), { :class=>"welcomeButton" } %>
  </div>
<% end %>
