<% if user_signed_in? %>
<% postCount = 0 %>
<% @posts.each do |post| %>
  <% if @user.id ==  post.user_id%>
    <% postCount += 1 %>
  <% end %>
<% end %>

<% followerCount = 0 %>
<% @connections.each do |connection| %>
  <% if @user.id ==  connection.follower_id%>
    <% followerCount += 1 %>
  <% end %>
<% end %>


<% followingCount = 0 %>
<% @connections.each do |connection| %>
  <% if @user.id ==  connection.user_id %>
    <% followingCount += 1 %>
  <% end %>
<% end %>


<div class="bodyleft bodyright ">
  <div class="displayPhoto">
    <img src="<%= Photo.find_by(id: @user.photo_id).url %>" height="75" width="75">
  </div>
  <div class="userInfo">
    <div>
      <span class="userName"><%= @user.username %></span>
      <span class="pad5">settings</span>
    </div>
    <div>
      <span><%=  postCount %> Posts</span>
      <span class="pad5"><%= followerCount %> Followers</span>
      <span class="pad5"><%= followingCount  %> Following</span>
    </div>
    <div>
      <p><%= @user.name %></p>
    </div>
  </div>
</div>

<div class="bodyleft bodyright ">
    <% @posts.each do |post| %>
    <% if @user.id ==  post.user_id%>
      <div class='postdiv'>
        <div class="postBorderBottom">
          <span class="postAuthor">
            <img src="<%= Photo.find_by(id: User.find_by(id: Photo.find_by(id: post.user_id).id).photo_id).url %>">
          </span>
          <span class="postAuthor">
            <a href="/users/<%= User.find_by(id: Photo.find_by(id: post.user_id).id).id %>"><%= User.find_by(id: post.user_id).username %></a>
          </span>
        </div>

        <div>
          <img src="<%= Photo.find_by(id: post.photo_id).url %>" height="75" width="75">
        </div>

        <div>
          <span><a class="nav-link buttons" ><i class="far fa-heart"></i></a></span>
          <span><a class="nav-link buttons" ><i class="far fa-comment"></i></a></span>
        </div>

          <div>
            <% likecount = [] %>
            <% @likes.each do |like| %>
              <% if like.post_id == post.id  %>
                <% likecount << like.user_id %>
              <% end %>
            <% end %>
            <%= likecount.length %> Likes
            <% likecount = [] %>
          </div>
          <div>
            <% commentscount = [] %>
              <% @comments.each do |comment| %>
                <% if comment.post_id == post.id  %>
                  <p class="postAuthor"><%=  User.find_by(id: comment.user_id).username %></p>
                  <%=  comment.comment %>
                  <br>
                <% end %>
            <% end %>
          </div>
          </div>
      <% end %>
<% end %>
<% else %>
  <div class='welcomeHeader'>
    <h1 class="title"><i class="fas fa-camera-retro"></i> | Fotogram</h1>
    <h3 class="subtitle">PLEASE LOG IN</h3>
  </div>
  <div class='welcomeBody'>
    <%= link_to "Sign In", user_session_path(@user), { :class=>"welcomeButton" } %> or
    <%= link_to "Sign Up", new_user_registration_path(@user), { :class=>"welcomeButton" } %>
  </div>
<% end %>
