<% if user_signed_in? %>
  <div class="bodyleft bodyright ">

    <h1>Discover People</h1>
    <div class="container">
      <div class="row">
        <% user1 = rand(51) %>
        <% user2 = rand(51) %>
        <% user3 = rand(51) %>

        <% until user1 != user2 && user2 != user3 && user1 != user3 && user1 != current_user.id && user2 != current_user.id && user3 != current_user.id do %>

          <% user1 = rand(51) %>
          <% user2 = rand(51) %>
          <% user3 = rand(51) %>
        <% end %>

      <div class="col-lg-4">
        <div class="whiteBg center padDown">

            <% if user1 > 25 && user1 != 51 %>
              <a href="/users/<%= user1 %>"><img src="https://randomuser.me/api/portraits/women/<%= user1 %>.jpg" alt="Avatar" class="roundImageDiscover"></a><br>

            <% elsif user1 != 51%>
              <a href="/users/<%= user1 %>"><img src="https://randomuser.me/api/portraits/men/<%= user1 %>.jpg" alt="Avatar" class="roundImageDiscover"></a><br>

            <% end %>
            <p class="bold postAuthor"><a href="/users/<%= user1 %>"><%= User.find_by(id: user1).username %></a></p>
            <p><%= User.find_by(id: user1).name %></p>
            <form action='/connections' method='post'>
              <fieldset style="display:none">
                <input type="hidden" name="connection[user_id]"" value="<%= current_user.id %>">
                <input type="hidden" name="connection[following_id]"" value="<%= user1 %>">
               </fieldset>
              <button type="submit" class="btn btn-primary">Follow</button>
            </form>
        </div>
      </div>


      <div class="col-lg-4">
        <div class="whiteBg center padDown">
          <% if user2 > 25 && user2 != 51 %>
            <a href="/users/<%= user2 %>"><img src="https://randomuser.me/api/portraits/women/<%= user2 %>.jpg" alt="Avatar" class="roundImageDiscover"></a><br>

          <% elsif user2 != 51%>
            <a href="/users/<%= user2 %>"><img src="https://randomuser.me/api/portraits/men/<%= user2 %>.jpg" alt="Avatar" class="roundImageDiscover"></a><br>

          <% end %>
            <p class="bold postAuthor"><a href="/users/<%= user2 %>"><%= User.find_by(id: user2).username %></a></p>
            <p><%= User.find_by(id: user2).name %></p>
            <form action='/connections' method='post'>
              <fieldset style="display:none">
                <input type="hidden" name="connection[user_id]"" value="<%= current_user.id %>">
                <input type="hidden" name="connection[following_id]"" value="<%= user2 %>">
               </fieldset>
              <button type="submit" class="btn btn-primary">Follow</button>
            </form>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="whiteBg center padDown">
          <% if user3 > 25 && user3 != 51 %>
            <a href="/users/<%= user3 %>"><img src="https://randomuser.me/api/portraits/women/<%= user3 %>.jpg" alt="Avatar" class="roundImageDiscover"></a><br>

          <% elsif user3 != 51%>
            <a href="/users/<%= user3 %>"><img src="https://randomuser.me/api/portraits/men/<%= user3 %>.jpg" alt="Avatar" class="roundImageDiscover"></a><br>

          <% end %>
          <p class="bold postAuthor"><a href="/users/<%= user3 %>"><%= User.find_by(id: user3).username %></a></p>
          <p><%= User.find_by(id: user3).name %></p>
          <form action='/connections' method='post'>
            <fieldset style="display:none">
              <input type="hidden" name="connection[user_id]"" value="<%= current_user.id %>">
              <input type="hidden" name="connection[following_id]"" value="<%= user3 %>">
             </fieldset>
            <button type="submit" class="btn btn-primary">Follow</button>
          </form>
        </div>
      </div>

    </div>


    <h1>Explore</h1>
    <div class="container">
      <div class="row">
        <% @posts.shuffle.each do |post| %>
          <% if post.user_id != current_user.id %>
            <div class="col-lg-4">
              <div class="postContainer">
                <!-- <a href="/posts/<%= post.id %>"><img src="<%= Photo.find_by(id: post.photo_id).url %>" alt="Avatar" class="imageRoll"></a> -->
                  <a href="/posts/<%= post.id %>"><img src="https://picsum.photos/600/600?image=<%= post.id %>" alt="Avatar" class="imageRoll"></a>
                <div class="middle">
                  <div class="settingButton">
                    <% likecount = [] %>
                    <% @likes.each do |like| %>
                      <% if like.post_id == post.id  %>
                        <% likecount << like.user_id %>
                      <% end %>
                    <% end %>
                    <p class="postLikes">
                      <span class='settingButton'><i class="far fa-heart settingButton"></i></span> <%= likecount.length %>
                      <span class='settingButton'></span>
                    </p>
                    <% likecount = [] %>
                  </div>
                  <div class="settingButton">
                    <% commentscount = [] %>
                    <% @comments.each do |comment| %>
                      <% if comment.post_id == post.id  %>
                        <% commentscount << comment.post_id %>
                      <% end %>
                    <% end %>
                    <p class="postLikes">
                      <span class='settingButton'><i class="far fa-comment settingButton"></i></span> <%= commentscount.length %>
                      <span class='settingButton'></span>
                    </p>
                    <% commentscount = [] %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% else %>
  <div class='welcomeHeader'>
    <h1 class="title"><i class="fas fa-camera-retro"></i> | Fotogramm</h1>
    <h3 class="subtitle">PLEASE LOG IN</h3>
  </div>
  <div class='welcomeBody'>
    <%= link_to "Sign In", user_session_path(@user), { :class=>"welcomeButton" } %> or
    <%= link_to "Sign Up", new_user_registration_path(@user), { :class=>"welcomeButton" } %>
  </div>
<% end %>
