<!DOCTYPE html>
<html>
  <head>
    <title>Fotogram</title>
    <%= csrf_meta_tags %>

    <!-- Make Page responsive -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

    <!-- AJAX and JS CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro|Leckerli+One" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <!-- <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <% if user_signed_in? %>
       <body class="backgroundUserSignedIn">
         <nav class="navbar navbar-expand-lg navbar-light">
           <a class="navbar-brand navleft" href="/feed">
             <i class="fas fa-camera-retro"></i>
             <span class="companyTitle"> | Fotogram</span>
           </a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>

           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="nav navbar-nav mx-auto">
               <form class="form-inline my-2 my-lg-0">
                 <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search">
               </form>
             </ul>

             <ul class="nav navbar-nav pr-5 navright">

               <% if @user && @user.id == current_user.id %>
                <!-- userSettings -->
                <li class="nav-item active" data-toggle="modal" data-target="#settingModal">
                  <a class="nav-link" href="/users/edit"><i class="fas fa-cog"></i></a>
                </li>
               <% end %>

                 <!-- explore -->
                 <li class="nav-item active">
                   <a class="nav-link" href="/explore"><i class="far fa-compass"></i></a>
                 </li>

                 <!-- likes -->
                 <li class="nav-item active" data-toggle="modal" data-target="#exampleModal">
                   <a class="nav-link"><i class="far fa-heart"></i></a>
                 </li>

                 <!-- profile -->
                 <li class="nav-item active">
                   <a class="nav-link" href="/users/<%= current_user.id %>"><i class="far fa-user"></i></a>
                 </li>
               </ul>
           </div>
         </nav>

         <!-- Modal -->
         <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
           <div class="modal-dialog" role="document">
             <div class="modal-content">
               <div class="modal-body">


                 <% Like.all.each do |like| %>
                   <% Post.all.each do |post| %>
                      <% if like.post_id == post.id && post.user_id == current_user.id %>
                         <a class="liker" href="/users/<%= like.user_id %>"><%= User.find_by(id: like.user_id).username %></a>
                         Likes your photo <a href="/posts/<%= post.id %>"><img src="<%= Photo.find_by(id: post.photo_id).url %>" height="65px" width="65px"></a>
                      <% end %>
                   <% end %>
                 <% end %>
               </div>
             </div>
           </div>
         </div>
       <% else %>

       <body class="backgroundUserSignedOut">
       <% end %>
       <%= yield %>



       <!-- Font Awesome CDN -->
       <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>





  </body>
</html>
